.Item {
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.Item:not(.opened):hover {
    background-color: #FFFCEB;
}

.Item.opened {
    position: relative;
    cursor: auto;
}

.Item .initial {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Item .opened {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Item .title:hover,
.Item .desc:hover {
    background-color: #FFFCEB;
}
