.ImgList .preview {
    background-position: center;
    background-size: cover;
}

.ImgList .edit {
    margin-left: auto;
}
.ImgList .close {
    position: absolute;
    top: 0;
    right: 0.2em;
}
