.Tooltip {
    position: absolute;
}

.Tooltip .content {
    margin-top: 10px;
    margin-left: 10px;
    display: none;
}

.Tooltip:hover .content{
    display: block;
}

.Tooltip::before,
.Tooltip::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 100%;
    cursor: pointer;
}

.Tooltip::after {
    background: #fff;
}

.Tooltip::before {
    width: 20px;
    height: 20px;
    top: -10px;
    left: -10px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color ease 0.15s;
}

.Tooltip:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
}
