.Image {
    display: inline-block;
    position: relative;
    user-select: none;
}

.Image img {
    position: relative;
}

.Image .Tooltip {
    opacity: 0;
    transition: opacity 0.15s ease;
}

.Image:hover .Tooltip {
    opacity: 1;
}
